@media only screen and (min-width:480px) { 
    
    *,html,body {
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    background-size:100% 100vh;
    background-repeat: no-repeat;

}



button.start {
    margin: auto;
    bottom:0;
    left: 0;
    height:40px;
    width:40px;
    background-color:black;
    color:bisque;
    cursor: pointer;
    position: absolute;

  
    
}

#date {
    margin: auto;
    bottom:0;
    right: 0;
    height:50px;
    width:fit-content;
    background-color:black;
    color:bisque;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 3px;

  
    
}



#menu {
    height:200px;
    width:200px;
    padding:0px;
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: -200px;
    border-radius: 3px;
    

}

ul {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
    width: 200px;
    padding: 0px;
    margin: auto;
    background-color:black;
}

ul li:nth-child(2):hover {
    background-color: green;
    color: white;
}

ul li {
    margin: auto;
    display: block;
    text-decoration:none;
    font-size: 18px;
    display:block;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    

}

ul li:hover {
    background-color:white;
    color:black;
    cursor: pointer;
    transition: 400ms;
}

.movemenu {
    transform: translateX(200px);
    transition:300ms ease-in;
}

#arkaplanlar {
    margin:auto;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2px solid black;
    background-color: black;
    visibility: hidden;
}

img {
    margin: auto;
    height: 150px;
    width:150px;
    border: 2px solid black;
    cursor: pointer;
}

button#closeme {
    margin: auto;
    margin-top: 160px;
    height:50px;
    width: 100px;
    visibility: hidden;
    cursor: pointer;

}
    
}

@media only screen and (max-width:480px) { 
    
    *,html,body {
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    background-size:100% 100vh;
    background-repeat: no-repeat;

}



button.start {
    margin: auto;
    bottom:0;
    left: 0;
    height:40px;
    width:40px;
    background-color:black;
    color:bisque;
    cursor: pointer;
    position: absolute;

  
    
}

#date {
    margin: auto;
    bottom:0;
    right: 0;
    height:50px;
    width:fit-content;
    background-color:black;
    color:bisque;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    

  
    
}



#menu {
    height:200px;
    width:200px;
    padding:0px;
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: -200px;
    border-radius: 3px;
    

}

ul {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
    width: 200px;
    padding: 0px;
    margin: auto;
    background-color:black;
}

ul li:nth-child(2):hover {
    background-color: green;
    color: white;
}

ul li {
    margin: auto;
    display: block;
    text-decoration:none;
    font-size: 18px;
    display:block;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    

}

ul li:hover {
    background-color:white;
    color:black;
    cursor: pointer;
    transition: 400ms;
}

.movemenu {
    transform: translateX(200px);
    transition:300ms ease-in;
}

#arkaplanlar {
    margin:auto;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2px solid black;
    background-color: black;
    visibility: hidden;
}

img {
    margin: auto;
    height:50px;
    width:50px;
    border: 2px solid black;
    cursor: pointer;
}

button#closeme {
    margin: auto;
    margin-top: 180px;
    height:50px;
    width: 100px;
    visibility: hidden;
    cursor: pointer;

}
    
}
